body{
    font-family: 'Roboto', sans-serif;
}

.nav-a{
    text-decoration: none;
    color: #3C3C3C;
    padding: 1%;
}

.nav-div{
    text-align: right;
    margin-right: 10%;
    margin-top: 3%;
    font-weight: 900;
    height: 70px;
}
.nav-section{
    height: 70px;
}

.hire-section{
    margin-left: 10%;

}

.hire-h1{
    font-family:  'Bebas Neue', cursive;
    font-weight: bold;
    font-size: 80px;
    line-height: 20px;

}
.hire-text-div{
    width: 25%;
    
    height: 410px;
    float: left;
    
    
}

.hire-p{
    text-align: justify;
    font-size: 16px;
    color: #3E3E3E;
    font-weight: 900;
    line-height: 25px;
}

.hire-a{
    text-decoration: none;
    color: #FFFFFF;
    background-image: linear-gradient(100deg, #FF8063, #FF8063);
    padding: 20px 60px ;
    border-radius: 10px;
}

.profile1{
    width: 100%;
}

.image-div{
    width: 40%;
    margin: 0%;
    float: right;
    margin-right: 20%;
}