body{
    font-family: 'Roboto', sans-serif;
}

.nav-a{
    text-decoration: none;
    color: #3C3C3C;
    padding: 1%;
}

.nav-div{
    text-align: right;
    margin-right: 10%;
    margin-top: 3%;
    font-weight: 900;
    height: 70px;
}
.nav-section{
    height: 70px;
}

.hire-section{
    margin-left: 10%;

}

.hire-h1{
    font-family:  'Bebas Neue', cursive;
    font-weight: bold;
    font-size: 80px;
    line-height: 20px;

}
.hire-text-div{
    width: 25%;
    border: 2px solid red;
    
    
}

.hire-p{
    text-align: justify;
    font-size: 16px;
    color: #3E3E3E;
    font-weight: 900;
}