body{
    font-family: 'Roboto', sans-serif;
}

.nav-a{
    text-decoration: none;
    color: rgb(58, 58, 58);
    padding: 1%;
}

.nav-div{
    text-align: right;
    margin-right: 10%;
    margin-top: 3%;
    font-weight: 900;
    height: 70px;
}
.nav-section{
    height: 70px;
}